## Exclude folder
exclude/
exclude
data/
data

**/*.DS_Store
.DS_Store
*.DS_Store

# PRIVATE environment variables and API keys
00_PRIVATE.env


# Downloaded data file in zip format
brazilian_e_commerce.zip
